NET "ACBUS6" LOC = "P6";
NET "FT_TCK" LOC = "P12";
NET "ACBUS5" LOC = "P1";
NET "FT_TDI" LOC = "P13";
NET "ACBUS4" LOC = "P39";
NET "FT_TMS" LOC = "P16";
NET "ADBUS5" LOC = "P40";
NET "FT_TDO" LOC = "P14";
NET "ACBUS2" LOC = "P2";
NET "FT_nTRST" LOC = "P43";
NET "ACBUS3" LOC = "P3";
NET "FT_nSRST_OUT" LOC = "P44";
NET "FT_nSRST_IN" LOC = "P41";
NET "FT_RTCK" LOC = "P42";
NET "ACBUS7" LOC = "P8";

NET "RTCK" LOC = "P33";
NET "TDO" LOC = "P32";
NET "TCK" LOC = "P34";
NET "TDI" LOC = "P37";
NET "TMS" LOC = "P36";
NET "nSRST" LOC = "P31";
NET "nTRST" LOC = "P38";
NET "LED" LOC = "P19";